<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.legacy.web.login.service.LoginMapper">


    
    <select id="findMenuListByUser" resultType="CamelCaseMap">
	SELECT 1 COL_NAME FROM DUAL
    </select> 

	<select id="findMenuList" resultType="CamelCaseMap">
	SELECT 1 AS COL_NAME FROM DUAL
    </select> 
    
    <select id="selectAuthUserInfo" parameterType="string" resultType="CamelCaseMap">
    	
    	SELECT /* LoginMapper.selectAuthUserInfo */
    			U1.USER_SEQ
    			, U1.USER_ID
    			, U2.USER_KEY
    			, U2.ENC_TYPE
    			, U4.AUTH_SEQ
    			, U4.AUTH_NM
    			, U4.AUTH_DUE_DT

		FROM USER_ACC U1
			LEFT OUTER JOIN USER_KEY U2 ON U1.USER_SEQ = U2.USER_SEQ
			LEFT OUTER JOIN USER_AUTH_MAP U3 ON U1.USER_SEQ = U3.USER_SEQ
			LEFT OUTER JOIN USER_AUTH U4 ON U3.AUTH_SEQ = U4.AUTH_SEQ
			
			WHERE 1=1
			<!-- <if test="userId != null and userId != ''"> -->
			AND U1.USER_ID = #{userId}
    </select>


	<select id="selectuserRoles" parameterType="string" resultType="CamelCaseMap">
		SELECT /* LoginMapper.selectuserRoles */
    			U1.USER_SEQ
    			, U3.USER_ID
    			, U2.AUTH_SEQ
    			, U2.AUTH_NM
    			, U2.AUTH_DUE_DT

		FROM USER_AUTH_MAP U1
			LEFT OUTER JOIN USER_AUTH U2 ON U1.AUTH_SEQ = U2.AUTH_SEQ
			LEFT OUTER JOIN USER_ACC U3 ON U1.USER_SEQ = U3.USER_SEQ
			
			WHERE 1=1
			
			AND U3.USER_ID = #{userId}
	
	
	</select>

</mapper>